@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


body {
    background-color: #141414;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thanks span {
    font-size: 2rem;
}

.thanks h2 {
    font-size: 50px;
}
